@utility bg-white {
  background-color: var(--color-bg-white);
}

@utility bg-alternative {
  background-color: var(--color-bg-alternative);
}

@utility bg-strong {
  background-color: var(--color-bg-strong);
}

@utility bg-label-default {
  background-color: var(--color-label-default);
}

@utility bg-label-strong {
  background-color: var(--color-label-strong);
}

@utility bg-border-default {
  background-color: var(--color-border-default);
}

@utility bg-border-alternative {
  background-color: var(--color-border-alternative);
}
