@theme {
  --border-width-default: 1px;
  --border-width-alternative: 2px;
  --border-width-strong: 3px;
}

@utility border-default {
  border-width: var(--border-width-default);
}

@utility border-alternative {
  border-width: var(--border-width-alternative);
}

@utility border-strong {
  border-width: var(--border-width-strong);
}
