@theme {
  --color-default: #262524;
  --color-strong: #000000;
  --color-sub: #54544f;
  --color-info: #999999;
  --color-placeholder: #cccccc;
  --color-disable: #ebebeb;
}

@utility text-default {
  color: var(--color-default);
}

@utility text-strong {
  color: var(--color-strong);
}

@utility text-sub {
  color: var(--color-sub);
}

@utility text-info {
  color: var(--color-info);
}

@utility text-placeholder {
  color: var(--co lor-placeholder);
}

@utility text-disable {
  color: var(--color-disable);
}
