@utility status-positive {
  background-color: var(--color-positive);
}

@utility status-cautionary {
  background-color: var(--color-cautionary);
}

@utility status-negative {
  background-color: var(--color-negative);
}

@utility status-negative-light {
  background-color: var(--color-negative-light);
}
